<!DOCTYPE html>
<html>
    <div th:replace="common/head.html"></div>
    <body>
        <div th:replace="common/nav.html"></div>
        <div class="container" style="text-align: center;">
            <img id="404" src="images/404.png" style="width: 100%;" alt="404 Image. Credit to https://www.pexels.com/@antonio-quagliata-63388 for image">
            <h3>Let's see if we can find you an atlas to get you home.</h3>
        </div>
    </body>
    <div th:replace="common/footer.html"></div>
</html>